.no-select {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE/Edge */
  }
  
  .project-button {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid #555555;
    border-radius: 8px;
    padding: 10px 16px;
    background-color: #333333;
    transition: background-color 0.3s ease;
  }
  
  .project-button:hover {
    background-color: #444444; /* Darker on hover */
  }
  
  .project-button:focus {
    outline: none;
    background-color: #555555; /* Lighter focus color */
  }
  
  .project-button:active {
    background-color: #666666; /* Even lighter when active */
  }
  